#ContactHeader {
  font-family: "Merienda";
}

#ContactContainer {
  width: 1000px;
  margin: 100px auto; /* Centers the <div> horizontally */
  text-align: center; /* Optional: Centers content inside the <div> */
  color: whitesmoke;
  user-select: none;
}

#Logo {
  cursor: pointer;
}

#TitleVia {
  font-family: "Roboto";
}

#Gmail {
  width: 115px;
}

#X {
  width: 110px;
}

#Instagram {
  width: 150px;
}

#Facebook {
  width: 150px;
}

#Whatsapp {
  width: 110px;
}
