#Info {
  user-select: none;
  font-family: "Merienda";
  color: whitesmoke;
  margin: 100px auto;
  text-align: center;
}

.Work {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline-style: solid;
  border-radius: 5px;
  font-family: "Righteous";
  font-size: 15px;
  cursor: pointer;
  top: 500px;
}

#Buttons button {
  display: block;
  margin: 1px auto;
  text-align: center;
  margin-bottom: 400px;
}

#subs p {
  display: block;
  margin: 1px auto;
  text-align: center;
  margin-bottom: 400px;
}

#subs {
  position: absolute;
  top: 500px;
  left: 32%;
  z-index: -1;
}

.titles {
  font-family: "Roboto";
  color: whitesmoke;
  font-size: 20px;
}
